.Breakout{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5rem;
    width: 100%;
}

.Breakout > div{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#division{
    color: grey;
    text-decoration: none;
    font-weight: 700;
    margin-left: 4rem;
}

#module{
    color: grey;
    text-decoration: none;
    font-weight: 700;
}

